/runtime/
/src/cFS/build/
/src/gr-leo/build/

__pycache__/
*.py[cod]

*.log
!README.md

*.bak
*.swp
*.swo

.cdskeyfile
.reservedkeyfile
.resetkeyfile

/src/newGS/log/
/src/newGS/attack_log.csv
/src/newGS/Subsystems/cmdGui/SentCommandLogs.txt
/src/newGS/*sample_app*.csv
/src/newGS/newGS/

/src/gr-leo/docs/doxygen/doxyxml/__pycache__/
/src/gr-leo/docs/doxygen/doxyxml/generated/__pycache__/
